
@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/App/_DashBoardLayout.cshtml";
}

<div>
    <table style="display: block; margin: 10px">
        <tbody>
            <tr>
                <td><a class="btn btn-primary" href="" role="button">Кому зараз допомогти</a></td>
            </tr>
            <tr>
                <td><a class="btn btn-primary" href="#" role="button">Побудувати маршрут</a></td>
            </tr>
        </tbody>
    </table>
</div>