@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Мета: Забезпечення доступності і зручності пересування для осіб з обмеженими можливостями в місті. Зменшення бар'єрів і соціальної відокремленості для цільової аудиторії шляхом створення інтегрованої системи підтримки та мобільності.
    </p>
</main>