@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        KPI Sikorskii<br />
        Kyiv, Ukraine<br />
        <abbr title="Phone">P:</abbr>
        123-456-789-88
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">me@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">me@example.com</a>
    </address>
</main>